#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
li {
  transition: transform 0.3s ease;
}
li:hover {
  transform: scale(1.05);
}

.form-container {
  position: relative;
  display: flex;
  color: rgba(221, 221, 221, 0.772);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #848586; 
  border-radius: 0.5rem; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  max-width: 400px;
  margin: auto;
}